
 *, *:before, *:after {
	 box-sizing: border-box;
}
 html {
	 overflow-y: scroll;
}
 body {
	 font-family: 'Titillium Web', sans-serif;
	 background-color: #28ae60;
}
 a {
	 text-decoration: none;
	 color: #28AE60;
	 transition: 0.5s ease;
}
 a:hover {
	 color: #28AE60;
}
 .form {
	 background: #131313;
	 padding: 40px;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
	 max-width: 600px;
	 margin: 40px auto;
=======
	 max-width: 800px;
	 max-height: 550px;
	 margin: 20px auto;
>>>>>>> Stashed changes
=======
	 max-width: 800px;
	 max-height: 550px;
	 margin: 20px auto;
>>>>>>> Stashed changes
	 border-radius: 4px;
	 box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
}
 .tab-group {
	 list-style: none;
	 padding: 0;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
	 margin: 0 0 40px 0;
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
}
 .tab-group:after {
	 content: "";
	 display: table;
	 clear: both;
}
 .tab-group li a {
	 display: block;
	 text-decoration: none;
	 padding: 15px;
	 background: rgba(160, 179, 176, .25);
	 color: #28AE60;
	 font-size: 20px;
	 float: left;
	 width: 50%;
	 text-align: center;
	 cursor: pointer;
	 transition: 0.5s ease;
}
 .tab-group li a:hover {
	 background: #28AE60;
	 color: #fff;
}
 .tab-group .active a {
	 background: #28AE60;
	 color: #fff;
}
 .tab-content > div:last-child {
	 display: none;
}
 h1 {
	 text-align: center;
	 color: #fff;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
	 font-weight: 300;
	 margin: 0 0 40px;
=======
	 font-weight: 100;
>>>>>>> Stashed changes
=======
	 font-weight: 100;
>>>>>>> Stashed changes
}

 label {
	 position: absolute;
	 bottom: 1px;
	 transform: translateY(6px);
	 left: 13px;
	 color: rgba(255, 255, 255, .5);
	 transition: all 0.25s ease;
	 -webkit-backface-visibility: hidden;
	 pointer-events: none;
	 font-size: 22px;
}
 label .req {
<<<<<<< Updated upstream
<<<<<<< Updated upstream
	 margin: 2px;
	 color: #28ae60;
}
 label.active {
	 transform: translateY(50px);
=======
=======
>>>>>>> Stashed changes
	 color: #28ae60;
}
 label.active {
	 transform: translateY(30px);
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
	 left: 2px;
	 font-size: 14px;
}
 label.active .req {
	 opacity: 0;
}
 label.highlight {
	 color: #fff;
}
 input, textarea {
	 font-size: 22px;
	 display: block;
	 width: 100%;
	 height: 100%;
	 padding: 5px 10px;
	 background: none;
	 background-image: none;
	 border: 1px solid #a0b3b0;
	 color: #fff;
	 border-radius: 0;
	 transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
 input:focus, textarea:focus {
	 outline: 0;
	 border-color: #28AE60;
}
 textarea {
	 border: 2px solid #28ae60;
	 resize: vertical;
}
 .field-wrap {
	 position: relative;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
	 margin-bottom: 40px;
=======
=======
>>>>>>> Stashed changes
	 margin-bottom: 20px;
}
.image-upload {
	position: relative;
	margin-bottom: 20px;
	color: #fff;
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
}
 .top-row:after {
	 content: "";
	 display: table;
	 clear: both;
}
 .top-row > div {
	 float: left;
	 width: 48%;
	 margin-right: 4%;
}
 .top-row > div:last-child {
	 margin: 0;
}
 .button {
	 border: 0;
	 outline: none;
	 border-radius: 0;
	 padding: 15px 0;
	 font-size: 2rem;
	 font-weight: 600;
	 text-transform: uppercase;
	 letter-spacing: 0.1em;
	 background: #28AE60;
	 color: #fff;
	 transition: all 0.5s ease;
	 -webkit-appearance: none;
}
 .button:hover, .button:focus {
	 background: #28AE60;
}
 .button-block {
	 display: block;
	 width: 100%;
}
<<<<<<< Updated upstream
<<<<<<< Updated upstream
=======
=======
>>>>>>> Stashed changes
.button-image-upload {
	border: 0;
	outline: none;
	height: 50px;
	border-radius: 0;
	font-size: 20px;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	background: #28AE60;
	color: #fff;
	transition: all 0.5s ease;
	-webkit-appearance: none;
}
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
 .forgot {
	 margin-top: -20px;
	 text-align: right;
}

<<<<<<< Updated upstream
<<<<<<< Updated upstream
.login100-social-item {
  font-size: 25px;
  color: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}

.login100-social-item:hover {
  color: #fff;
  background-color: #333333;
}
=======
=======
>>>>>>> Stashed changes

.icon-bar {
	position: fixed;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	color: white;
	font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
	background-color: #000;
  }
  
  .facebook {
	background: #3B5998;
	color: white;
  }
  
  .twitter {
	background: #55ACEE;
	color: white;
  }
  
  .google {
	background: #dd4b39;
	color: white;
  }
  
  .linkedin {
	background: #007bb5;
	color: white;
  }
  
  .youtube {
	background: #bb0000;
	color: white;
  }
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
 