<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
</head>

<body>

    <div style="width:500px;height:410px">
        <canvas id="winLoss"></canvas>
    </div>

    <div style="border:1px solid black">
        <div id="peopleReachedDiv"></div>
    </div>

    <div style="width:800x;height:550px">
        <canvas id="betHistory"></canvas>
    </div>

    <div style="width:800x;height:550px">
        <canvas id="betHistoryWinLoss"></canvas>
    </div>

    <script src="profileAnalytics.js"></script>
</body>

</html>