.back_image{
    background-image: url(./slider_image3.jpg);
    width: 60%;
    height: 600px;
    margin-left: 30px;
}

.about_image{
  text-align: center;
}

.about_info {
  color: #28AE60;
  height: 600px;
}

@media (max-width: 768px) {
   .about_info {
    display: none;
  }
}

@media (max-width: 768px) 
{  .about_image {
    display: none;
  }
}

@media (max-width: 768px) {
   .back_image {
    display: none;
  }
}

 .about_info h1 {
  border: 5px solid #131313;
  border-right: 100%;
  font-size: 100px;
  line-height: 100px;
  font-weight: 400;
  color: #28AE60;
}


@media (min-width: 992px) and (max-width: 1200px) {
   .about_info p br {
    display: none;
  }
}

