<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
<script src="https://cdn.rawgit.com/hayeswise/Leaflet.PointInPolygon/v1.0.0/wise-leaflet-pip.js"></script>
<script src="/javascripts/maps.js"></script>
<script src="/javascripts/create_bet.js"></script>

<h1>Create Bet</h1>
<div id="like_button_container"></div>
<div class="jumbotron">
    <h1>New Bet</h1>
    <h4>Name:</h4>
    <input type="text" id="betName"/>
    <h4>Location:</h4>
    <input type="text" id="location"/>
    <h4>Set Radius:</h4>
    <input type="text" id="rad"/>
    <select id='selectRegion'>
        <option value="null">All</option>
    </select>
    <button id='createBet'>Create Bet</button>
    <button id='createBetRegion'>Create Bet Region</button>
    <div id="container">
        <div id="mapID"></div>
    </div>
</div>
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

  <!-- Load our React component. -->
  <script src='/javascripts/react.js'></script>