<button id="getQR"> Get QR Code! </button>
<br>
<div id="QRPopup">
    <img src="" id="QRHere">
    <br> 
    <div id="popupText"></div>
</div>


<script src="javascripts/getQR.js" class="QRCode"></script>