<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
<script src="/javascripts/maps.js"></script>
<script src="/javascripts/find_bets.js"></script>

<h1>Find Bets</h1>
<div><select id='dropDown'><option value='null'>All</option></select></div>
<button id='selectRegion'>Select Region</button>
<div id="mapID"></div>

