<div class="row justify-content-center">
  <div class="card" style="width: 25rem;">
      <h5 class="card-header text-center pl-0 pr-0" id="currMode">Reset Password</h5>
      <div class="card-body pb-1 text-center">
        <input type="password" id="passwordBox" placeholder=" New password" class="mb-2 text-center" maxlength="48">
      </div>
      <div class="card-body pt-1 text-center">
        <button type="button" class="btn btn-primary" id="submitButton">Reset</button>
      </div>
  </div>
</div>
<script src="../javascripts/resetPassword.js"></script>