<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:500&display=swap" rel="stylesheet">


<style>
    * {
        font-family: 'Source Code Pro', monospace;
    }
    
    body {
        background-color: rgb(127, 106, 235)
    }
    
    a {
        color: black;
    }
    
    .mainText {
        font-size: 80px;
        margin: 25% 0px 0px 0px;
        text-align: center;
        top: 50%;
    }
    
    .subText {
        text-align: center;
    }
</style>

<a href="createBet">Create Bet</a>
<a href="findBets">Find Bets</a>

<div class="mainText">
    <h1> Req </h1>
</div>

<div class="subText">
    <a href="https://github.com/IamCathal">Cathal O'Callaghan</a><br>
    <a href="https://github.com/EoinMcArdle99">Eoin Mc Ardle</a><br>
    <a href="https://github.com/FilthyHound">Karl Gordon</a><br>
    <a href="https://github.com/Rorysweeney99">Rory Sweeney</a>
</div>