<div class="row justify-content-center">
  <div class="card" style="width: 25rem;">
      <h5 class="card-header text-center pl-0 pr-0" id="currMode">Login</h5>
      <div class="card-body pb-1 text-center">
        <input type="text" id="usernameBox" placeholder=" Username" class="mb-2 text-center" maxlength="15">
      </div>
      <div class="card-body pb-1 pt-0 text-center">
        <input type="text" id="emailBox" placeholder=" Email" class="text-center" maxlength="64">
      </div>
      <div class="card-body pb-1 pt-0 text-center">
        <input type="password" id="passwordBox" placeholder=" Password" class="text-center" maxlength="30">
      </div>
      <div class="card-body pt-1 pb-0">
        <p class="pb-1 text-center" id="switchText"> New? <a href="" id="switchInterface"> Register here </a> </p>
      </div>
      <div class="card-body pt-1 text-center">
        <button type="button" class="btn btn-primary" id="submitButton">Login</button>
      </div>
  </div>
</div>
<script src="../javascripts/auth.js"></script>