<style>
  .profiler{
    width:120px;
    height:120px
}
</style>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  socket.emit('cans', "cans");
</script>


<div class="row justify-content-center">
  <div class="card" style="width: 25rem;">
      <h5 class="card-header text-center pl-0 pr-0" id="currMode">Login</h5>
      <div class="card-body pb-1 text-center">
        <input type="text" id="usernameBox" placeholder=" Username" class="mb-2 text-center" maxlength="15">
      </div>
      <div class="card-body pb-1 pt-0 text-center" id="emailDiv">
      </div>
      <div class="card-body pb-1 pt-0 text-center">
        <input type="password" id="passwordBox" placeholder=" Password" class="text-center" maxlength="30">
      </div>
      <span>
               <img src="http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png" class="profiler">
      </span>
      <div class="card-body pb-1 pt-0 text-center">
        <input type="file" accept="image/png|image/jpg|image/jpeg" id="file" name="file" class="text-center">
      </div>
      <div class="card-body pt-1 pb-0">
        <p class="pb-1 text-center" id="switchText"> New? <a href="" id="switchInterface"> Register here </a> </p>
      </div>
      <div class="card-body pt-1 pb-0">
        <p class="pb-1 text-center"> <a href="" id="forgotPassword">Forgot your password? </a></p>
      </div>
      <div class="card-body pt-1 text-center">
        <button type="button" class="btn btn-primary" id="submitButton">Login</button>
      </div>
      <hr class="mt-1 mb-1">
      <p class="pb-1 text-center mb-0" id="switchText"> Sign in through another platform </p>
      <div class="card-body pb-1 pt-0 text-center">
        <a href="http://localhost:8673/users/auth/google"><img src="../images/googleG.jpg" style="width:20%"></a>
        <a href="http://localhost:8673/users/auth/github"><img src="../images/githubLogoPNG.png" style="width:20%"></a>
        <a href="http://localhost:8673/users/auth/steam"><img src="../images/steamPNG.png" style="width:20%"></a>
      </div>
  </div>
</div>
<script src="../javascripts/auth.js"></script>