/* line 1, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn {
  background: #fff;
  color: #131313;
  display: inline-block;
  padding: 18px 44px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #28AE60;
  letter-spacing: 3px;
  text-align: center;
  color: #131313 !important;
  text-transform: uppercase;
  cursor: pointer;
}

/* line 17, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn:hover {
  background: #28AE60;
  color: #fff !important;
  border: 1px solid #28AE60;
}

/* line 22, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn:focus {
  outline: none;
}

/* line 25, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn.large-width {
  width: 220px;
}

/* line 29, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0181f5+0,5db2ff+100 */
  background: #28AE60;
  color: #fff;
  display: inline-block;
  padding: 14px 27px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 2px;
}

/* line 48, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3:hover {
  background: #28AE61;
  color: #fff !important;
}

/* line 53, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3:focus {
  outline: none;
}

/* line 56, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3.large-width {
  width: 220px;
}

/* line 61, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3-white {
  color: #fff;
  display: inline-block;
  padding: 13px 27px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 10px solid #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 2px;
}

/* line 78, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3-white:hover {
  background: #28AE61;
  color: #fff !important;
  border: 10px solid transparent;
}

/* line 83, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3-white i {
  margin-right: 2px;
}

/* line 86, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3-white:focus {
  outline: none;
}

/* line 89, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3-white.large-width {
  width: 220px;
}

/* line 94, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3-green-2 {
  color: #131313 !important;
  display: inline-block;
  padding: 14px 31px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #131313;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 2px;
}

/* line 110, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3-green-2:hover {
  background: #131313;
  color: #fff !important;
  border: 1px solid transparent;
}

/* line 115, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3-green-2:focus {
  outline: none;
}

/* line 118, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3-green-2.large-width {
  width: 220px;
}

/* line 122, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn2 {
  background: transparent;
  color: #fff;
  display: inline-block;
  padding: 18px 24px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* line 134, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn2:hover {
  background: #fff;
  color: #131313 !important;
}

/* line 138, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn2:focus {
  outline: none;
}

/* line 142, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.line-button {
  color: #919191;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  position: relative;
  padding-right: 5px;
  padding-bottom: 2px;
}

/* line 150, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.line-button::before {
  position: absolute;
  content: "";
  background: #919191;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}

/* line 159, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.line-button:hover {
  color: #009DFF;
}

/* line 162, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.line-button:hover::before {
  background: #009DFF;
}

/* line 166, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.book_now {
  display: inline-block;
  font-size: 14px;
  color: #009DFF;
  border: 1px solid #009DFF;
  text-transform: capitalize;
  padding: 10px 25px;
}

/* line 173, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.book_now:hover {
  background: #009DFF;
  color: #fff;
}

/* line 2, ../../Arafath/CL/CL October/213. Business/HTML/scss/_section_title.scss */
.section_title h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 55px;
  color: #2C2C2C;
  position: relative;
  z-index: 0;
  padding-bottom: 15px;
}

@media (max-width: 767px) {
  /* line 2, ../../Arafath/CL/CL October/213. Business/HTML/scss/_section_title.scss */
  .section_title h3 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 2, ../../Arafath/CL/CL October/213. Business/HTML/scss/_section_title.scss */
  .section_title h3 {
    font-size: 36px;
    line-height: 42px;
  }
}

@media (max-width: 767px) {
  /* line 19, ../../Arafath/CL/CL October/213. Business/HTML/scss/_section_title.scss */
  .section_title h3 br {
    display: none;
  }
}

/* line 25, ../../Arafath/CL/CL October/213. Business/HTML/scss/_section_title.scss */
.section_title p {
  font-size: 16px;
  color: #727272;
  line-height: 28px;
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 767px) {
  /* line 31, ../../Arafath/CL/CL October/213. Business/HTML/scss/_section_title.scss */
  .section_title p br {
    display: none;
  }
}

/* line 39, ../../Arafath/CL/CL October/213. Business/HTML/scss/_section_title.scss */
.mb-50 {
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  /* line 39, ../../Arafath/CL/CL October/213. Business/HTML/scss/_section_title.scss */
  .mb-50 {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  /* line 4, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slick-nav.scss */
  .mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 9;
  }
}

/* line 13, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav {
  background: #fff;
  float: right;
  margin-top: 0;
  padding: 0;
  width: 95%;
  padding: 0;
  border-radius: 0px;
  margin-top: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 11px;
}

/* line 28, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav a:hover {
  background: transparent;
  color: #28AE60;
}

/* line 32, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav a.active {
  color: #28AE60;
}

@media (max-width: 767px) {
  /* line 35, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slickv.scss */
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 35, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slick-nav.scss */
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}

/* line 44, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav .slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: -40px;
  position: relative;
  z-index: 99;
  border: 1px solid #ddd;
  top: 3px;
  right: 5px;
  top: -36px;
}

/* line 55, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav .slicknav_btn .slicknav_icon {
  margin-right: 6px;
  margin-top: 3px;
  position: relative;
  padding-bottom: 3px;
  top: -11px;
  right: -5px;
}

@media (max-width: 767px) {
  /* line 12, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slick-nav.scss */
  .slicknav_menu {
    margin-right: 0px;
  }
}

/* line 72, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slick-nav.scss */
.slicknav_nav .slicknav_arrow {
  float: right;
  font-size: 22px;
  position: relative;
  top: -9px;
}

/* line 78, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slick-nav.scss */
.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 5px;
  margin-top: -5px;
  top: -31px;
}

/* line 92, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slick-nav.scss */
.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 0;
  margin-top: -5px;
  top: -33px;
}

/* line 1, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area {
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 9;
  position: absolute;
}

@media (max-width: 767px) {
  /* line 1, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area {
    padding-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 1, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area {
    padding-top: 0;
  }
}

/* line 16, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area {
  padding: 18px 0;
  background: #fff;
  background: transparent;
}

/* line 20, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area.details_nav_bg {
  background: #727272;
  padding-bottom: 0;
}

@media (max-width: 767px) {
  /* line 20, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area.details_nav_bg {
    padding-bottom: 10px;
  }
}

/* line 40, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .logo-img {
  text-align: center;
}

@media (max-width: 767px) {
  /* line 40, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 40, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 40, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (max-width: 767px) {
  /* line 54, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 54, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}

/* line 66, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .Appointment {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 70, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .Appointment .search_button {
    margin-right: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 70, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .Appointment .search_button {
    margin-right: 15px;
  }
}

/* line 79, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .Appointment .search_button a i {
  color: #E8E8E8;
}

/* line 86, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .Appointment .socail_links ul li {
  display: inline-block;
}

/* line 89, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .Appointment .socail_links ul li a {
  color: #A8A7A0;
  margin: 0 10px;
  font-size: 15px;
}

/* line 93, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .Appointment .socail_links ul li a:hover {
  color: #fff;
}

/* line 100, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .Appointment .book_btn {
  margin-left: 30px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 100, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .Appointment .book_btn {
    margin-left: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 100, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .Appointment .book_btn {
    margin-left: 0;
  }
}

/* line 108, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .Appointment .book_btn a {
  background: #28AE60;
  padding: 12px 26px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid transparent;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 108, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .Appointment .book_btn a {
    padding: 12px 20px;
  }
}

/* line 119, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .Appointment .book_btn a:hover {
  background: #28AE60;
  color: #fff;
  border: 1px solid #28AE60;
}

/* line 127, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu {
  text-align: center;
  padding: 12px 0;
}

/* line 131, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}

/* line 141, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a {
  color: #131313;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 400;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  font-family: "Poppins", sans-serif;
  position: relative;
  text-transform: capitalize;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 141, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 141, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}

/* line 160, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}

@media (max-width: 767px) {
  /* line 160, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 160, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

/* line 181, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}

/* line 186, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a.active::before {
  opacity: 1;
  transform: scaleX(1);
}

/* line 191, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a:hover {
  color: rgb(255, 255, 255);
}

/* line 195, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu {
  position: absolute;
  left: 0;
  top: 160%;
  background: #fff;
  width: 200px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

/* line 207, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li {
  display: block;
}

/* line 209, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 10px 15px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #fff;
}

/* line 215, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li a::before {
  display: none;
}

/* line 219, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li:hover a {
  color: #000;
}

/* line 224, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 150%;
}

/* line 229, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}

/* line 233, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li:first-child a {
  padding-left: 0;
}

/* line 239, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 990;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.96);
  background: #2C2C2C;
  padding-bottom: 0;
}

@media (max-width: 767px) {
  /* line 239, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area.sticky {
    padding: 10px 10px;
  }
}

/* line 267, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area.sticky .main-menu {
  padding: 0;
}

/* line 270, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area.sticky .header_bottom_border {
  border-bottom: none;
}

/* line 273, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area.sticky .header_bottom_border.white_border {
  border-bottom: none !important;
}

/* line 279, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .header-top_area {
  padding: 12px 0;
  background: rgba(44, 44, 44, 0.5);
}

@media (max-width: 767px) {
  /* line 282, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .header-top_area .social_media_links {
    text-align: center;
  }
}

/* line 286, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .header-top_area .social_media_links a {
  font-size: 15px;
  color: #fff;
  margin-right: 12px;
}

/* line 290, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .header-top_area .social_media_links a:hover {
  color: #28AE60;
}

/* line 295, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .header-top_area .short_contact_list {
  text-align: right;
}

@media (max-width: 767px) {
  /* line 295, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .header-top_area .short_contact_list {
    text-align: center;
  }
}

/* line 301, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .header-top_area .short_contact_list ul li {
  display: inline-block;
}

/* line 303, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .header-top_area .short_contact_list ul li a {
  font-size: 13px;
  color: #fff;
  margin-left: 50px;
}

@media (max-width: 767px) {
  /* line 303, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .header-top_area .short_contact_list ul li a {
    margin-left: 0;
    margin: 0 5px;
  }
}

/* line 312, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .header-top_area .short_contact_list ul li a i {
  color: #28AE60;
  margin-right: 7px;
}

/* line 322, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header_bottom_border {
  border-bottom: 1px solid #4B4E50;
  padding-bottom: 22px;
}

/* line 325, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header_bottom_border.white_border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}

@media (max-width: 767px) {
  /* line 325, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header_bottom_border.white_border {
    padding: 0;
    border-bottom: none;
  }
}

@media (max-width: 767px) {
  /* line 325, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header_bottom_border.white_border {
    padding: 0;
    border-bottom: none !important;
  }
}

@media (max-width: 767px) {
  /* line 322, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header_bottom_border {
    padding: 0;
    border-bottom: none;
  }
}