@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700&display=swap");
/* line 1, ../../Arafath/CL/CL October/213. Business/HTML/scss/_extend.scss */
.flex-center-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
/* 1. Theme default css */
/* line 5, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 16, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 20, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}

/* line 25, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
a:focus {
  color: #fff;
  text-decoration: none;
}

/* line 29, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
  color: #1F1F1F;
}

/* line 36, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
a,
button {
  color: #1F1F1F;
  outline: medium none;
}

/* line 41, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
h1, h2, h3, h4, h5 {
  font-family: "Poppins", sans-serif;
  color: #1F1F1F;
}

/* line 45, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

/* line 54, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
ul {
  margin: 0px;
  padding: 0px;
}

/* line 58, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
li {
  list-style: none;
}

/* line 61, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #4D4D4D;
  margin-bottom: 13px;
  font-family: "Poppins", sans-serif;
}

/* line 70, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

/* line 76, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 81, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 86, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 91, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 96, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 101, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 106, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 112, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
h3 {
  font-size: 24px;
}

/* line 116, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.mb-65 {
  margin-bottom: 67px;
}

/* line 120, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.black-bg {
  background: #020c26 !important;
}

/* line 124, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.white-bg {
  background: #ffffff;
}

/* line 127, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.gray-bg {
  background: #f5f5f5;
}

/* line 132, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.bg-img-1 {
  background-image: url(../img/slider/slider-img-1.jpg);
}

/* line 135, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.bg-img-2 {
  background-image: url(../img/background-img/bg-img-2.jpg);
}

/* line 138, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.cta-bg-1 {
  background-image: url(../img/background-img/bg-img-3.jpg);
}

/* line 143, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.overlay {
  position: relative;
  z-index: 0;
}

/* line 147, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.overlay::before {
  position: absolute;
  content: "";
  background-color: #1f1f1f;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .5;
}

/* line 159, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.overlay2 {
  position: relative;
  z-index: 0;
}

/* line 163, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.overlay2::before {
  position: absolute;
  content: "";
  background-color: #2C2C2C;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
}

/* line 175, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.overlay_03 {
  position: relative;
  z-index: 0;
}

/* line 179, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.overlay_03::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #2C2C2C;
  opacity: .6;
  content: '';
  z-index: -1;
}

/* line 192, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.bradcam_overlay {
  position: relative;
  z-index: 0;
}

/* line 196, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.bradcam_overlay::before {
  position: absolute;
  content: "";
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5db2ff+0,7db9e8+100&1+24,0+96 */
  background: -moz-linear-gradient(left, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5db2ff', endColorstr='#007db9e8',GradientType=1 );
  /* IE6-9 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
}

/* line 212, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* line 216, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.pt-120 {
  padding-top: 120px;
}

/* button style */
/* line 222, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.owl-carousel .owl-nav div {
  background: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 50px;
  color: #fff;
  background-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 50px;
  font-size: 15px;
  line-height: 50px;
  border: 1px solid #787878;
  left: 150px;
}

/* line 249, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: 150px;
}

/* line 254, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.owl-carousel .owl-nav div.owl-next i {
  position: relative;
  right: 0;
}

/* line 261, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.owl-carousel .owl-nav div.owl-prev i {
  position: relative;
  top: 0px;
}

/* line 271, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}

/* line 274, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.owl-carousel:hover .owl-nav div:hover {
  color: #fff;
  background: #28AE61;
  border: 1px solid transparent;
}

/* line 284, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.mb-20px {
  margin-bottom: 20px;
}

/* line 288, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.mb-55 {
  margin-bottom: 55px;
}

/* line 291, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.mb-40 {
  margin-bottom: 40px;
}

/* line 294, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
.mb-20 {
  margin-bottom: 20px;
}

/* line 1, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn {
  background: #fff;
  color: #131313;
  display: inline-block;
  padding: 18px 44px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #28AE60;
  letter-spacing: 3px;
  text-align: center;
  color: #131313 !important;
  text-transform: uppercase;
  cursor: pointer;
}

/* line 17, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn:hover {
  background: #28AE60;
  color: #fff !important;
  border: 1px solid #28AE60;
}

/* line 22, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn:focus {
  outline: none;
}

/* line 25, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn.large-width {
  width: 220px;
}

/* line 29, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0181f5+0,5db2ff+100 */
  background: #28AE60;
  color: #fff;
  display: inline-block;
  padding: 14px 27px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 2px;
}

/* line 48, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3:hover {
  background: #28AE61;
  color: #fff !important;
}

/* line 53, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3:focus {
  outline: none;
}

/* line 56, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3.large-width {
  width: 220px;
}

/* line 61, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3-white {
  color: #fff;
  display: inline-block;
  padding: 13px 27px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 2px;
}

/* line 78, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3-white:hover {
  background: #28AE61;
  color: #fff !important;
  border: 1px solid transparent;
}

/* line 83, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3-white i {
  margin-right: 2px;
}

/* line 86, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3-white:focus {
  outline: none;
}

/* line 89, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3-white.large-width {
  width: 220px;
}

/* line 94, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3-green-2 {
  color: #131313 !important;
  display: inline-block;
  padding: 14px 31px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #131313;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 2px;
}

/* line 110, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3-green-2:hover {
  background: #131313;
  color: #fff !important;
  border: 1px solid transparent;
}

/* line 115, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3-green-2:focus {
  outline: none;
}

/* line 118, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn3-green-2.large-width {
  width: 220px;
}

/* line 122, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn2 {
  background: transparent;
  color: #fff;
  display: inline-block;
  padding: 18px 24px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* line 134, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn2:hover {
  background: #fff;
  color: #131313 !important;
}

/* line 138, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.boxed-btn2:focus {
  outline: none;
}

/* line 142, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.line-button {
  color: #919191;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  position: relative;
  padding-right: 5px;
  padding-bottom: 2px;
}

/* line 150, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.line-button::before {
  position: absolute;
  content: "";
  background: #919191;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}

/* line 159, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.line-button:hover {
  color: #009DFF;
}

/* line 162, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.line-button:hover::before {
  background: #009DFF;
}

/* line 166, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.book_now {
  display: inline-block;
  font-size: 14px;
  color: #009DFF;
  border: 1px solid #009DFF;
  text-transform: capitalize;
  padding: 10px 25px;
}

/* line 173, ../../Arafath/CL/CL October/213. Business/HTML/scss/_btn.scss */
.book_now:hover {
  background: #009DFF;
  color: #fff;
}

/* line 2, ../../Arafath/CL/CL October/213. Business/HTML/scss/_section_title.scss */
.section_title h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 55px;
  color: #2C2C2C;
  position: relative;
  z-index: 0;
  padding-bottom: 15px;
}

@media (max-width: 767px) {
  /* line 2, ../../Arafath/CL/CL October/213. Business/HTML/scss/_section_title.scss */
  .section_title h3 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 2, ../../Arafath/CL/CL October/213. Business/HTML/scss/_section_title.scss */
  .section_title h3 {
    font-size: 36px;
    line-height: 42px;
  }
}

@media (max-width: 767px) {
  /* line 19, ../../Arafath/CL/CL October/213. Business/HTML/scss/_section_title.scss */
  .section_title h3 br {
    display: none;
  }
}

/* line 25, ../../Arafath/CL/CL October/213. Business/HTML/scss/_section_title.scss */
.section_title p {
  font-size: 16px;
  color: #727272;
  line-height: 28px;
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 767px) {
  /* line 31, ../../Arafath/CL/CL October/213. Business/HTML/scss/_section_title.scss */
  .section_title p br {
    display: none;
  }
}

/* line 39, ../../Arafath/CL/CL October/213. Business/HTML/scss/_section_title.scss */
.mb-50 {
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  /* line 39, ../../Arafath/CL/CL October/213. Business/HTML/scss/_section_title.scss */
  .mb-50 {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  /* line 4, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slick-nav.scss */
  .mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 9;
  }
}

/* line 13, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav {
  background: #fff;
  float: right;
  margin-top: 0;
  padding: 0;
  width: 95%;
  padding: 0;
  border-radius: 0px;
  margin-top: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 11px;
}

/* line 28, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav a:hover {
  background: transparent;
  color: #28AE60;
}

/* line 32, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav a.active {
  color: #28AE60;
}

@media (max-width: 767px) {
  /* line 35, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slickv.scss */
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 35, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slick-nav.scss */
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}

/* line 44, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav .slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: -40px;
  position: relative;
  z-index: 99;
  border: 1px solid #ddd;
  top: 3px;
  right: 5px;
  top: -36px;
}

/* line 55, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav .slicknav_btn .slicknav_icon {
  margin-right: 6px;
  margin-top: 3px;
  position: relative;
  padding-bottom: 3px;
  top: -11px;
  right: -5px;
}

@media (max-width: 767px) {
  /* line 12, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slick-nav.scss */
  .slicknav_menu {
    margin-right: 0px;
  }
}

/* line 72, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slick-nav.scss */
.slicknav_nav .slicknav_arrow {
  float: right;
  font-size: 22px;
  position: relative;
  top: -9px;
}

/* line 78, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slick-nav.scss */
.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 5px;
  margin-top: -5px;
  top: -31px;
}

/* line 92, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slick-nav.scss */
.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 0;
  margin-top: -5px;
  top: -33px;
}

/* line 1, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area {
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 9;
  position: absolute;
}

@media (max-width: 767px) {
  /* line 1, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area {
    padding-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 1, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area {
    padding-top: 0;
  }
}

/* line 16, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area {
  padding: 18px 0;
  background: #fff;
  background: transparent;
}

/* line 20, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area.details_nav_bg {
  background: #727272;
  padding-bottom: 0;
}

@media (max-width: 767px) {
  /* line 20, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area.details_nav_bg {
    padding-bottom: 10px;
  }
}

/* line 40, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .logo-img {
  text-align: center;
}

@media (max-width: 767px) {
  /* line 40, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 40, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 40, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (max-width: 767px) {
  /* line 54, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 54, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}

/* line 66, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .Appointment {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 70, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .Appointment .search_button {
    margin-right: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 70, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .Appointment .search_button {
    margin-right: 15px;
  }
}

/* line 79, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .Appointment .search_button a i {
  color: #E8E8E8;
}

/* line 86, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .Appointment .socail_links ul li {
  display: inline-block;
}

/* line 89, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .Appointment .socail_links ul li a {
  color: #A8A7A0;
  margin: 0 10px;
  font-size: 15px;
}

/* line 93, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .Appointment .socail_links ul li a:hover {
  color: #fff;
}

/* line 100, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .Appointment .book_btn {
  margin-left: 30px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 100, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .Appointment .book_btn {
    margin-left: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 100, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .Appointment .book_btn {
    margin-left: 0;
  }
}

/* line 108, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .Appointment .book_btn a {
  background: #28AE60;
  padding: 12px 26px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid transparent;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 108, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .Appointment .book_btn a {
    padding: 12px 20px;
  }
}

/* line 119, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .Appointment .book_btn a:hover {
  background: #28AE60;
  color: #fff;
  border: 1px solid #28AE60;
}

/* line 127, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu {
  text-align: center;
  padding: 12px 0;
}

/* line 131, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}

/* line 141, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a {
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 400;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  font-family: "Poppins", sans-serif;
  position: relative;
  text-transform: capitalize;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 141, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 141, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}

/* line 160, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}

@media (max-width: 767px) {
  /* line 160, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 160, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

/* line 181, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}

/* line 186, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a.active::before {
  opacity: 1;
  transform: scaleX(1);
}

/* line 191, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a:hover {
  color: #28AE60;
}

/* line 195, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu {
  position: absolute;
  left: 0;
  top: 160%;
  background: #fff;
  width: 200px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

/* line 207, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li {
  display: block;
}

/* line 209, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 10px 15px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #000;
}

/* line 215, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li a::before {
  display: none;
}

/* line 219, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li:hover a {
  color: #000;
}

/* line 224, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 150%;
}

/* line 229, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}

/* line 233, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li:first-child a {
  padding-left: 0;
}

/* line 239, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 990;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.96);
  background: #2C2C2C;
  padding-bottom: 0;
}

@media (max-width: 767px) {
  /* line 239, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .main-header-area.sticky {
    padding: 10px 10px;
  }
}

/* line 267, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area.sticky .main-menu {
  padding: 0;
}

/* line 270, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area.sticky .header_bottom_border {
  border-bottom: none;
}

/* line 273, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .main-header-area.sticky .header_bottom_border.white_border {
  border-bottom: none !important;
}

/* line 279, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .header-top_area {
  padding: 12px 0;
  background: rgba(44, 44, 44, 0.5);
}

@media (max-width: 767px) {
  /* line 282, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .header-top_area .social_media_links {
    text-align: center;
  }
}

/* line 286, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .header-top_area .social_media_links a {
  font-size: 15px;
  color: #fff;
  margin-right: 12px;
}

/* line 290, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .header-top_area .social_media_links a:hover {
  color: #28AE60;
}

/* line 295, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .header-top_area .short_contact_list {
  text-align: right;
}

@media (max-width: 767px) {
  /* line 295, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .header-top_area .short_contact_list {
    text-align: center;
  }
}

/* line 301, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .header-top_area .short_contact_list ul li {
  display: inline-block;
}

/* line 303, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .header-top_area .short_contact_list ul li a {
  font-size: 13px;
  color: #fff;
  margin-left: 50px;
}

@media (max-width: 767px) {
  /* line 303, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header-area .header-top_area .short_contact_list ul li a {
    margin-left: 0;
    margin: 0 5px;
  }
}

/* line 312, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header-area .header-top_area .short_contact_list ul li a i {
  color: #28AE60;
  margin-right: 7px;
}

/* line 322, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header_bottom_border {
  border-bottom: 1px solid #4B4E50;
  padding-bottom: 22px;
}

/* line 325, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
.header_bottom_border.white_border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}

@media (max-width: 767px) {
  /* line 325, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header_bottom_border.white_border {
    padding: 0;
    border-bottom: none;
  }
}

@media (max-width: 767px) {
  /* line 325, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header_bottom_border.white_border {
    padding: 0;
    border-bottom: none !important;
  }
}

@media (max-width: 767px) {
  /* line 322, ../../Arafath/CL/CL October/213. Business/HTML/scss/_header.scss */
  .header_bottom_border {
    padding: 0;
    border-bottom: none;
  }
}

.slider_bg_1{
    background-image: url(../img/banner/slider_image.jpg);
}
.slider_bg_2{
    background-image: url(../img/banner/slider_image2.jpg);
}
.slider_bg_3{
    background-image: url(../img/banner/slider_image3.jpg);
}

/* line 8, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slider.scss */
.slider_area .single_slider {
  height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 767px) {
  /* line 8, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slider.scss */
  .slider_area .single_slider {
    height: 100vh;
  }
}

/* line 17, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slider.scss */
.slider_area .single_slider .slider_text h3 {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 62px;
}

/* line 25, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slider.scss */
.slider_area .single_slider .slider_text h3 span {
  font-weight: 700;
}

@media (max-width: 767px) {
  /* line 17, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text h3 {
    margin-top: 45px;
  }
}

@media (max-width: 767px) {
  /* line 17, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text h3 {
    font-size: 30px;
    line-height: 35px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 17, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text h3 {
    font-size: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 17, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text h3 {
    font-size: 35px;
    letter-spacing: 3px;
  }
}

/* line 44, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slider.scss */
.slider_area .single_slider .slider_text p {
  font-size: 20px;
  font-weight: 400;
  color: #D5D5D5;
  margin-bottom: 24px;
  margin-top: 10px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 44, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  /* line 44, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text p {
    font-size: 16px;
  }
}

/* line 57, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slider.scss */
.slider_area .single_slider .slider_text .video_service_btn > a {
  margin-right: 15px;
}

@media (max-width: 767px) {
  /* line 57, ../../Arafath/CL/CL October/213. Business/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text .video_service_btn > a {
    margin-bottom: 20px;
  }
}

/* line 3, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.about_area .about_image img {
  width: 100%;
}

/* line 7, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.about_area .about_info {
  padding-left: 68px;
}

@media (max-width: 767px) {
  /* line 7, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
  .about_area .about_info {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 7, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
  .about_area .about_info {
    padding-left: 30px;
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 7, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
  .about_area .about_info {
    padding-left: 30px;
    padding-top: 0;
    padding-bottom: 40px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 7, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
  .about_area .about_info {
    padding-left: 30px;
    padding-top: 0;
  }
}

/* line 31, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.about_area .about_info h3 {
  font-size: 36px;
  line-height: 55px;
  font-weight: 400;
  color: #131313;
}

@media (max-width: 767px) {
  /* line 31, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
  .about_area .about_info h3 {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 31, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
  .about_area .about_info h3 {
    font-size: 30px;
    line-height: 40px;
  }
}

/* line 45, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.about_area .about_info p {
  font-size: 16px;
  line-height: 28px;
  color: #131313;
  margin-bottom: 22px;
  margin-top: 28px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 51, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
  .about_area .about_info p br {
    display: none;
  }
}

/* line 57, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.about_area .about_info ul {
  margin-bottom: 56px;
}

@media (max-width: 767px) {
  /* line 57, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
  .about_area .about_info ul {
    margin-bottom: 30px;
  }
}

/* line 62, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.about_area .about_info ul li {
  font-size: 16px;
  line-height: 28px;
  color: #131313;
  position: relative;
  padding-left: 28px;
  margin-bottom: 5px;
  font-weight: 400;
  z-index: 1;
}

/* line 71, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.about_area .about_info ul li::before {
  position: absolute;
  left: 0;
  background-image: url(../img/svg_icon/check.svg);
  width: 16px;
  height: 16px;
  content: '';
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 83, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.about_area .about_info .boxed-btn3 {
  padding: 13px 46px 14px 46px;
}

/* line 90, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.about_bg_1 {
  background-image: url(../img/banner/about_bg.png);
}

/* line 93, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.about_wrap_area {
  padding: 145px 0 115px 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

/* line 100, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.about_wrap_area.about_wrap_area2 .single_service_wrap {
  border: 1px solid #D5D5D5;
}

/* line 102, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.about_wrap_area.about_wrap_area2 .single_service_wrap h3 {
  font-size: 20px;
  color: #2C2C2C;
  font-weight: 400;
  margin-top: 38px;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 110, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.about_wrap_area.about_wrap_area2 .single_service_wrap p {
  font-size: 16px;
  line-height: 28px;
  color: #919191;
  margin-bottom: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 118, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.about_wrap_area.about_wrap_area2 .single_service_wrap img {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 121, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.about_wrap_area.about_wrap_area2 .single_service_wrap:hover {
  background: #28AE60;
  border-color: #28AE60;
}

/* line 124, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.about_wrap_area.about_wrap_area2 .single_service_wrap:hover h3 {
  color: #fff;
}

/* line 127, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.about_wrap_area.about_wrap_area2 .single_service_wrap:hover p {
  color: #fff;
}

/* line 130, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.about_wrap_area.about_wrap_area2 .single_service_wrap:hover img {
  -webkit-filter: contrast(0%) brightness(2);
  filter: contrast(0%) brightness(2);
}

@media (max-width: 767px) {
  /* line 93, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
  .about_wrap_area {
    padding: 100px 0 70px 0;
  }
}

/* line 142, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.about_wrap_area::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #2C2C2C;
  opacity: .6;
  content: '';
  z-index: -1;
}

/* line 153, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.about_wrap_area .about_wrap_area2 {
  position: relative;
}

/* line 156, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.about_wrap_area.about_wrap_area2::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #2C2C2C;
  opacity: .6;
  content: '';
  z-index: -1;
  display: none;
}

/* line 168, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.about_wrap_area .single_service_wrap {
  margin-bottom: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 60px 63px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 168, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
  .about_wrap_area .single_service_wrap {
    padding: 60px 20px;
  }
}

/* line 179, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.about_wrap_area .single_service_wrap h3 {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  margin-top: 38px;
  margin-bottom: 20px;
}

/* line 186, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.about_wrap_area .single_service_wrap p {
  font-size: 16px;
  line-height: 28px;
  color: #D5D5D5;
  margin-bottom: 0;
}

/* line 193, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.about_wrap_area .single_service_wrap:hover {
  background: #28AE60;
  border-color: #28AE60;
}

/* line 203, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.project_area {
  background: #28AE60;
  padding: 150px 0;
}

@media (max-width: 767px) {
  /* line 203, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
  .project_area {
    padding: 100px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 203, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
  .project_area {
    padding: 100px 0;
  }
}

/* line 214, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.project_area .project_info h3 {
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  line-height: 55px;
}

/* line 220, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.project_area .project_info p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 26px;
  margin-top: 8px;
}

/* line 227, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.project_area .project_info .boxed-btn3-white:hover {
  background: #fff;
  color: #131313 !important;
}

/* line 237, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.financial_solution_area {
  padding: 150px 0;
}

/* line 239, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.financial_solution_area.minus_top_padding {
  padding-top: 0;
}

@media (max-width: 767px) {
  /* line 237, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
  .financial_solution_area {
    padding: 50px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 237, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
  .financial_solution_area {
    padding: 50px 0;
  }
}

/* line 248, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.financial_solution_area .financial_active {
  padding-top: 70px;
}

@media (max-width: 767px) {
  /* line 248, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
  .financial_solution_area .financial_active {
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 248, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
  .financial_solution_area .financial_active {
    padding: 0;
  }
}

/* line 256, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.financial_solution_area .financial_active .single_finalcial_wrap {
  margin-bottom: 90px;
}

/* line 259, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.financial_solution_area .financial_active .single_finalcial_wrap h3 {
  font-size: 36px;
  line-height: 55px;
  font-weight: 400;
  color: #2C2C2C;
  margin-bottom: 20px;
}

/* line 266, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.financial_solution_area .financial_active .single_finalcial_wrap p {
  font-size: 16px;
  color: #727272;
  margin-bottom: 0;
}

/* line 275, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.financial_solution_area .finance_thumb img {
  width: 100%;
}

/* line 280, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.financial_solution_area .owl-carousel .owl-nav div {
  background: transparent;
  height: 40px;
  left: 0px;
  position: absolute;
  text-align: center;
  width: 40px;
  color: #fff;
  background-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 40px;
  font-size: 12px;
  line-height: 40px;
  border: 1px solid #D4EFDF;
  left: 0px;
  color: #28AE60;
  bottom: 0;
  top: auto;
}

/* line 303, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.financial_solution_area .owl-carousel .owl-nav div.owl-next {
  left: 55px;
  right: auto;
}

/* line 306, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.financial_solution_area .owl-carousel .owl-nav div.owl-next i {
  position: relative;
  right: 0;
  top: -1px;
}

/* line 313, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.financial_solution_area .owl-carousel .owl-nav div.owl-prev i {
  position: relative;
  top: -1px;
  left: -1px;
}

/* line 323, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.financial_solution_area .owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}

/* line 326, ../../Arafath/CL/CL October/213. Business/HTML/scss/_about.scss */
.financial_solution_area .owl-carousel:hover .owl-nav div:hover {
  color: #fff;
  background: #28AE61;
  border: 1px solid transparent;
}

/* line 1, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 6, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .footer_top {
  padding-top: 145px;
  padding-bottom: 129px;
  background: #2C2C2C;
}

@media (max-width: 767px) {
  /* line 6, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
  .footer .footer_top {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  /* line 14, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 14, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget {
    margin-bottom: 30px;
  }
}

/* line 21, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .footer_title {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  /* line 21, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .footer_title {
    margin-bottom: 20px;
  }
}

/* line 31, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .footer_logo {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  /* line 31, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .footer_logo {
    margin-bottom: 20px;
  }
}

/* line 41, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p {
  color: #C7C7C7;
}

/* line 44, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text {
  font-size: 16px;
  color: #B2B2B2;
  margin-bottom: 23px;
  font-weight: 400;
  line-height: 28px;
}

/* line 50, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text a.domain {
  color: #B2B2B2;
  font-weight: 400;
}

/* line 53, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text a.domain:hover {
  color: #28AE60;
  border-bottom: 1px solid #28AE60;
}

/* line 59, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text.doanar a {
  font-weight: 500;
  color: #B2B2B2;
}

/* line 63, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text.doanar a:hover {
  color: #28AE60;
  border-bottom: 1px solid #28AE60;
}

/* line 67, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text.doanar a.first {
  margin-bottom: 10px;
}

/* line 75, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget ul li {
  color: #C7C7C7;
  font-size: 13px;
  line-height: 42px;
}

/* line 79, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget ul li a {
  color: #C7C7C7;
}

/* line 81, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget ul li a:hover {
  color: #28AE60;
}

/* line 87, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_form {
  position: relative;
  margin-bottom: 20px;
}

/* line 90, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_form input {
  width: 100%;
  height: 45px;
  background: #fff;
  padding-left: 20px;
  font-size: 16px;
  color: #000;
  border: none;
}

/* line 98, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_form input::placeholder {
  font-size: 16px;
  color: #919191;
}

/* line 103, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border: none;
  font-size: 14px;
  color: #fff;
  background: #28AE60;
  padding: 10px;
  padding: 0 22px;
  cursor: pointer;
}

/* line 117, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_text {
  font-size: 16px;
  color: #BABABA;
}

/* line 123, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .copy-right_text {
  padding-bottom: 30px;
  background: #1F1F1F;
}

/* line 126, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .copy-right_text .footer_border {
  padding-bottom: 30px;
}

/* line 129, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .copy-right_text .copy_right {
  font-size: 13px;
  color: #C7C7C7;
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 767px) {
  /* line 129, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
  .footer .copy-right_text .copy_right {
    font-size: 13px;
  }
}

/* line 137, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .copy-right_text .copy_right a {
  color: #28AE60;
}

/* line 142, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .socail_links {
  margin-top: 47px;
}

@media (max-width: 767px) {
  /* line 142, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
  .footer .socail_links {
    margin-top: 30px;
  }
}

/* line 148, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .socail_links ul li {
  display: inline-block;
}

/* line 151, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .socail_links ul li a {
  font-size: 18px;
  color: #C3B2F0;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  background: #565656;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 40px !important;
  margin-right: 7px;
  color: #FFFFFF;
  line-height: 41px !important;
}

/* line 164, ../../Arafath/CL/CL October/213. Business/HTML/scss/_footer.scss */
.footer .socail_links ul li a:hover {
  color: #fff !important;
  background: #28AE60;
}

/* line 1, ../../Arafath/CL/CL October/213. Business/HTML/scss/_service.scss */
.service_bg_1 {
  background-image: url(../img/about/cathal-photo.jpg);
}

/* line 3, ../../Arafath/CL/CL October/213. Business/HTML/scss/_service.scss */
.service_bg_2 {
  background-image: url(../img/about/eoin-photo.jpg);
}

/* line 5, ../../Arafath/CL/CL October/213. Business/HTML/scss/_service.scss */
.service_bg_3 {
  background-image: url(../img/about/karl-photo.jpg);
}

.service_bg_4 {
  background-image: url(../img/about/rory-photo.jpg);
}

/* line 8, ../../Arafath/CL/CL October/213. Business/HTML/scss/_service.scss */
.service_area {
  padding-top: 150px;
  padding-bottom: 120px;
}

@media (max-width: 767px) {
  /* line 8, ../../Arafath/CL/CL October/213. Business/HTML/scss/_service.scss */
  .service_area {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 8, ../../Arafath/CL/CL October/213. Business/HTML/scss/_service.scss */
  .service_area {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

/* line 19, ../../Arafath/CL/CL October/213. Business/HTML/scss/_service.scss */
.service_area .single_service {
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  background-position: center;
  overflow: hidden;
}

/* line 25, ../../Arafath/CL/CL October/213. Business/HTML/scss/_service.scss */
.service_area .single_service .service_hover {
  text-align: center;
  padding: 104px 0 94px 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

/* line 34, ../../Arafath/CL/CL October/213. Business/HTML/scss/_service.scss */
.service_area .single_service .service_hover h3 {
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 0;
}

/* line 40, ../../Arafath/CL/CL October/213. Business/HTML/scss/_service.scss */
.service_area .single_service .service_hover .hover_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: table;
  width: 100%;
  height: 100%;
  background: #28AE60;
  -webkit-transform: translateY(40%);
  -moz-transform: translateY(40%);
  -ms-transform: translateY(40%);
  transform: translateY(40%);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

/* line 54, ../../Arafath/CL/CL October/213. Business/HTML/scss/_service.scss */
.service_area .single_service .service_hover .hover_content .hover_content_inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 54px;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 54, ../../Arafath/CL/CL October/213. Business/HTML/scss/_service.scss */
  .service_area .single_service .service_hover .hover_content .hover_content_inner {
    padding: 0 10px;
  }
}

/* line 62, ../../Arafath/CL/CL October/213. Business/HTML/scss/_service.scss */
.service_area .single_service .service_hover .hover_content .hover_content_inner h4 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 8px;
}

/* line 67, ../../Arafath/CL/CL October/213. Business/HTML/scss/_service.scss */
.service_area .single_service .service_hover .hover_content .hover_content_inner p {
  font-size: 16px;
  color: #fff;
}

/* line 74, ../../Arafath/CL/CL October/213. Business/HTML/scss/_service.scss */
.service_area .single_service:hover {
  background-position: top;
}

/* line 76, ../../Arafath/CL/CL October/213. Business/HTML/scss/_service.scss */
.service_area .single_service:hover .hover_content {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
}

/* line 81, ../../Arafath/CL/CL October/213. Business/HTML/scss/_service.scss */
.service_area .single_service:hover .service_hover {
  background: rgba(0, 0, 0, 0.5);
}

